@import url(https://fonts.googleapis.com/css?family=Gaegu:400|Viga:400|Permanent+Marker:400|Patrick+Hand:400);

body {
    color: #fff;
    background: #2d4262 /*#1d1d1d*/ /*#38b588*/;
    font-size:calc(1rem + 0.2vw);
    padding:auto;
    margin: auto;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}


#joke-wrapper {
    color: #1d1d1d;
    background-color: #fff;
    display: inline-block;
    padding: 0.2rem calc(0.4rem + 0.6vw) 0.2rem calc(0.4rem + 0.6vw);
    font-family: 'Patrick Hand', cursive;
    //border-radius: 5px;
}

p {
    text-indent: calc(1rem + 0.5vw);
    text-align: justify;
    text-justify: inter-word;
}

h1 {
    padding: calc(1rem + 4vw) 0 calc(1rem + 1vw) 0;
    margin: 0;
    font-weight:normal;
    text-align: center;
    font-family: 'Permanent Marker', /*'Viga',*/ sans-serif;
    font-size:calc(1rem + 2.5vw);

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    cursor: default;
}
